.motion-list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid;

  h3 {
    margin: 0;
  }
}

.motion-identifier {
  cursor: pointer;
  padding: 4px;
  margin: 6px 4px;
  border-radius: 4px;

  &:hover {
    background: #ccc;
  }
}
