/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

.full-size {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.underscore {
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
