:host {
  display: flex;
}

.title {
  text-align: center;
  margin: 16px 0;
}

.router-content {
  height: 100%;
}

.dashboard-card {
  // display: flex;
  // flex-direction: column;
  height: 600px;
  min-width: 500px;
  max-width: 900px;
}
